
.itemCake{
    display: flex;
    flex-direction: column;
    border-bottom: solid palevioletred 3px;
}

.firstBox{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.secondBox{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
h1{
    color: palevioletred;
    border-bottom: 1px solid palevioletred;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.strArea {
    border: 1px solid palevioletred;
    padding: 5px;
    background-color: palevioletred;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

.strCategory {
    border: 1px solid palevioletred;
    padding: 5px;
    background-color: palevioletred;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}



.ingredients{ 
    border: 5px solid rgb(238, 185, 120);
    padding: 5px;
    background-color: rgb(243, 205, 158);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

img{
    margin: auto;
    width: 550px;
}

.instr{
    border: 5px solid rgb(238, 185, 120);
    padding: 5px;
    background-color: rgb(243, 205, 158);
    color: white;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yt{
    margin:auto;
    color: black;
    border-bottom: black;
    font-size: 20px;
    margin-bottom: 50px;

}
.flex {
    display: flex;
}

